/* @import url(home.css); */
@import url(var.css);
@import url(font.css);

/* @import url(header.css);
@import url(footer.css);
@import url(log_in.css);
@import url(product-detail.css);
@import url(brows.css);
@import url(collection.css);
@import url(cart.css);
@import url(checkout.css); */
* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-inter-regular);
  font-size: 14px;
}

a {
  text-decoration: none;
}

/* orange btn */
.btn-orange {
  background: var(--primary) !important;
  color: var(--white) !important;
  font-family: var(--font-inter-semibold) !important;
  border-radius: 10px !important;
  padding: 12px 24px !important;
  font-size: 16px;
}

.btn-orange:hover {
  background: var(--primary-hover) !important;
  color: var(--white) !important;
}

/* dark-btn */
.btn-all-dark {
  border: 2px solid var(--secendory);
  color: var(--secendory);
  padding: 12px 26px;
  border-radius: 10px;
  font-size: 16px;
  font-family: var(--font-inter-semibold);
}

.btn-all-dark:hover {
  color: var(--white);
  border-color: var(--white);
}

.btn-hover-dark:hover {
  color: var(--text) !important;
  border-color: var(--text) !important;
}

.heading h2 {
  font-family: var(--font-inter-bold);
  font-size: 40px;
  margin-bottom: 20px;
  letter-spacing: 1px;
  color: var(--text);
}

.yellow-headings {
  color: var(--primary);
}

button,
a {
  cursor: pointer !important;
  background-color: transparent;
  border: none;
  outline: none;
}

/* From Uiverse.io by Juanes200122 */
.pl {
  width: 6em;
  height: 6em;
}

.pl__ring {
  animation: ringA 2s linear infinite;
}

.pl__ring--a {
  stroke: var(--primary);
}

.pl__ring--b {
  animation-name: ringB;
  stroke: #000;
}

.pl__ring--c {
  animation-name: ringC;
  stroke: #000;
}

.pl__ring--d {
  animation-name: ringD;
  stroke: var(--primary);
}

/* Animations */
@keyframes ringA {
  from,
  4% {
    stroke-dasharray: 0 660;
    stroke-width: 20;
    stroke-dashoffset: -330;
  }

  12% {
    stroke-dasharray: 60 600;
    stroke-width: 30;
    stroke-dashoffset: -335;
  }

  32% {
    stroke-dasharray: 60 600;
    stroke-width: 30;
    stroke-dashoffset: -595;
  }

  40%,
  54% {
    stroke-dasharray: 0 660;
    stroke-width: 20;
    stroke-dashoffset: -660;
  }

  62% {
    stroke-dasharray: 60 600;
    stroke-width: 30;
    stroke-dashoffset: -665;
  }

  82% {
    stroke-dasharray: 60 600;
    stroke-width: 30;
    stroke-dashoffset: -925;
  }

  90%,
  to {
    stroke-dasharray: 0 660;
    stroke-width: 20;
    stroke-dashoffset: -990;
  }
}

@keyframes ringB {
  from,
  12% {
    stroke-dasharray: 0 220;
    stroke-width: 20;
    stroke-dashoffset: -110;
  }

  20% {
    stroke-dasharray: 20 200;
    stroke-width: 30;
    stroke-dashoffset: -115;
  }

  40% {
    stroke-dasharray: 20 200;
    stroke-width: 30;
    stroke-dashoffset: -195;
  }

  48%,
  62% {
    stroke-dasharray: 0 220;
    stroke-width: 20;
    stroke-dashoffset: -220;
  }

  70% {
    stroke-dasharray: 20 200;
    stroke-width: 30;
    stroke-dashoffset: -225;
  }

  90% {
    stroke-dasharray: 20 200;
    stroke-width: 30;
    stroke-dashoffset: -305;
  }

  98%,
  to {
    stroke-dasharray: 0 220;
    stroke-width: 20;
    stroke-dashoffset: -330;
  }
}

@keyframes ringC {
  from {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: 0;
  }

  8% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -5;
  }

  28% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -175;
  }

  36%,
  58% {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: -220;
  }

  66% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -225;
  }

  86% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -395;
  }

  94%,
  to {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: -440;
  }
}

@keyframes ringD {
  from,
  8% {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: 0;
  }

  16% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -5;
  }

  36% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -175;
  }

  44%,
  50% {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: -220;
  }

  58% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -225;
  }

  78% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -395;
  }

  86%,
  to {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: -440;
  }
}

#categoryBar .apexcharts-text tspan {
  word-break: break-all !important;
  max-width: 150px !important;
}

#content_master_form .image-bg-section {
  width: 100%;
  max-width: 80px;
  height: 80px;
  padding: 10px;
  background-color: var(--primary);
  border-radius: 5px;
}
.image-bg-section img {
  width: 100%;
  height: 100%;
  margin-top: 0px !important;
  object-fit: contain;
}

@media only screen and (max-width: 1399px) {
  .btn-orange {
    padding: 9px 18px !important;
  }

  .btn-all-light {
    padding: 9px 18px;
  }
}

@media only screen and (max-width: 1199px) {
  .heading h2 {
    font-size: 36px !important;
  }

  .btn-orange {
    font-size: 15px;
  }

  .btn-all-light {
    font-size: 15px;
  }
}

@media only screen and (max-width: 991px) {
  .heading h2 {
    margin-bottom: 3px;
    font-size: 32px !important;
  }

  .btn-orange {
    font-size: 16px;
    border-radius: 7px !important;
  }

  .btn-all-dark {
    padding: 9px 22px !important;
  }
}

@media only screen and (max-width: 767px) {
}

@media only screen and (max-width: 575px) {
  .btn-all-dark {
    padding: 9px 18px !important;
    border-radius: 7px;
  }
}

@media only screen and (max-width: 424px) {
  .heading h2 {
    font-size: 25px !important;
  }
}

/* Admin CSSS */
.sidebar-nav ul .sidebar-item .sidebar-link {
  padding: 12px 24px !important;
  border-radius: 10px !important;
  color: var(--black);
  font-size: 16px;
}

.sidebar-nav ul .sidebar-item .sidebar-link.active:hover {
  background-color: var(--primary);
  color: var(--white) !important;
}

.sidebar-nav ul .sidebar-item .sidebar-link.side-item:hover {
  background-color: transparent;
  color: var(--black);
}

.sidebar-nav ul .sidebar-item .sidebar-link:hover {
  background: transparent !important;
  color: var(--black) !important;
}

.sidebar-nav .has-arrow::after {
  color: var(--black);
  top: 25px !important;
}

.sidebar-nav ul .sidebar-item .sidebar-link:hover.has-arrow::after {
  border-color: var(--black) !important;
}

.sidebar-nav ul .sidebar-item .sidebar-link.active:hover.has-arrow::after {
  border-color: var(--white) !important;
}

.sidebar-nav ul .sidebar-item.selected > .sidebar-link.active,
.sidebar-nav ul .sidebar-item.selected > .sidebar-link,
.sidebar-nav ul .sidebar-item > .sidebar-link.active {
  background-color: var(--primary) !important;
  color: var(--white) !important;
}

.admin-box {
  background-color: var(--white) !important;
}

.gt-link {
  color: var(--primary) !important;
}

.form-control:focus {
  color: var(--black);
  border-color: var(--black);
}

.form-select:focus {
  border-color: var(--black);
}

.status-checkbox .form-check-input,
.row-checkbox {
  border: 2px solid var(--primary);
  cursor: pointer;
  height: 18px;
  width: 18px;
  margin-right: 10px;
}

.status-checkbox .form-check-input:checked,
.row-checkbox:checked {
  background-color: var(--primary) !important;
  border-color: var(--primary) !important;
  box-shadow: none;
}

.row-checkbox:checked {
  accent-color: var(--primary);
}

.sidebar-nav ul .sidebar-item .first-level .sidebar-item .sidebar-link.active {
  color: var(--primary) !important;
}

.body-wrapper-inner .card .card-title.mb-4.fw-semibold a {
  color: var(--primary) !important;
}

.form-check-input:checked {
  background-color: var(--primary) !important;
  border-color: var(--primary) !important;
}

div.dataTables_processing > div:last-child > div {
  background: var(--primary) !important;
}

.form-check-input:focus {
  border-color: gray;
}

/* .license-description .btn-license {
  background-color: var(--primary);
  color: var(--white);
  transition: all 0.3s ease-in;
}
.license-description .btn-license:hover {
  background-color: var(--primary-hover);
  color: var(--white);
}
.license-description-add .btn-danger {
  background-color: red !important;
} */

.btn-primary {
  background-color: var(--primary);
  color: var(--white);
  transition: all 0.3s ease-in;
  border-color: var(--primary) !important;
}

.btn-primary:hover {
  background-color: var(--primary-hover);
  color: var(--white);
  border-color: var(--primary) !important;
}

.table-bordered {
  border: none;
}

table,
table thead,
table tbody,
table th,
table td {
  border: none !important;
}

table.dataTable > thead > tr > th,
table.dataTable > thead > tr > td {
  text-align: center;
}

table tbody td .form-check {
  display: inline-block !important;
}

.product-img-video {
  height: 100px;
  width: 100%;
  min-width: 100px;
}

.product-img-video img {
  width: 100%;
  height: 100%;
}

.product-priority {
  height: 781px;
}

.card-title {
  color: var(--text);
}

#priority-table thead tr th:first-child,
#all-products-table thead tr th:first-child {
  width: 30px !important;
}

#testimonials-table thead tr th:first-child,
#contactus-table thead tr th:first-child,
#subscriptionplan-table thead tr th:first-child,
#license-table thead tr th:first-child,
#users-table thead tr th:first-child,
#products-table thead tr th:first-child,
#subcategory-table thead tr th:first-child,
#collection-table thead tr th:first-child,
#category-table thead tr th:first-child {
  width: 20px !important;
}

#license-table thead tr th:nth-child(5),
#license-table thead tr th:nth-child(6),
#license-table thead tr th:nth-child(7),
#license-table thead tr th:nth-child(2) {
  width: 50px !important;
}

#testimonials-table thead tr th:nth-child(7),
#category-table thead tr th:nth-child(4) {
  width: 80px !important;
}

#affiliate-table thead tr th:last-child,
#users-table thead tr th:last-child,
#products-table thead tr th:last-child,
#subcategory-table thead tr th:last-child,
#category-table thead tr th:last-child,
#collection-table thead tr th:last-child {
  width: 80px !important;
}

#affiliate-table tbody tr td:last-child .d-flex,
#contactus-table tbody tr td:last-child .d-flex,
#users-table tbody tr td:last-child .d-flex,
#products-table tbody tr td:last-child .d-flex,
#subcategory-table tbody tr td:last-child .d-flex,
#collection-table tbody tr td:last-child .d-flex,
#category-table tbody tr td:last-child .d-flex {
  justify-content: center !important;
}

#affiliate-table tbody tr td:last-child .d-flex {
  gap: 4px !important;
}

table.dataTable thead th {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
  background-color: #ff8000 !important;
  /* your color */
  color: #fff !important;
  /* optional text color */
}

.dataTables_length,
#subcategory-table_length {
  margin-bottom: 20px;
}

#license-table thead tr th[title="Most Popular"] {
  width: 90px !important;
}

.Subcategories-main_section #category.form-select {
  padding: 12px 58px 12px 22px !important;
}

.iti {
  width: 100%;
}

.affiliate-dashboard .stat-card .sc-row {
  align-items: start !important;
}
.affiliate-dashboard .row2 {
  display: flex;
  flex-wrap: wrap;
}
.select2-container--default.select2-container--focus
  .select2-selection--single {
  border-color: var(--black) !important;
  box-shadow: none !important;
}
#add_sub_category_form .select2-container--default .select2-selection--single,
#edit_sub_category_form .select2-container--default .select2-selection--single {
  height: 40px !important;
  border-color: #dfe5ef !important;
}
#add_sub_category_form
  .select2-container--default
  .select2-selection--single
  .select2-selection__arrow,
#edit_sub_category_form
  .select2-container--default
  .select2-selection--single
  .select2-selection__arrow {
  top: 50% !important;
  transform: translateY(-50%) !important;
  bottom: auto !important;
}
.form-select {
  padding: 8px 38px 8px 16px !important;
}
