.site-header {
  background-color: var(--black);
  border-bottom: 1px solid var(--border);
  top: 0;
  z-index: 999;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 72px;
}

.navbar-brand {
  width: 115px;
  height: 64px;
}

.navbar-brand img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.menu_content {
  display: flex;
  align-items: center;
  gap: 60px;
}

.main-menu {
  gap: 18px;
}

.site-header .nav-link {
  color: var(--icon) !important;
  font-size: 16px;
  transition: 0.3s;
}
.menu_content .nav-item .nav-link:hover {
  color: var(--white) !important;
  transform: translateY(-2px);
}

.site-header.nav-link:hover {
  color: var(--white) !important;
  transform: translateY(-2px);
}

.dropdown-menu {
  background-color: var(--text);
  border: 1px solid var(--border);
  border-radius: 8px;
  padding: 10px;
  left: -82px;
}

.dropdown-item {
  color: var(--icon);
  font-size: 16px;
  border-radius: 6px;
  padding: 8px 20px;
}

.dropdown-item:hover {
  background: var(--dropdown);
  color: var(--white);
}

/* Hover dropdown only desktop */

@media (min-width: 992px) {
  .hover-dropdown:hover .dropdown-menu {
    display: block;
  }
  .hover-dropdown .dropdown-menu {
    display: none;
  }
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 16px;
}
.header-actions .nav-link:hover {
  color: var(--white) !important;
  transform: translateY(-2px);
}

.icon-btn {
  color: var(--icon);
  font-size: 24px;
  transition: 0.3s;
}

.icon-btn:hover {
  color: var(--white);
  transform: scale(1.15);
}

.header-btn {
  padding: 6px 16px;
  font-size: 14px;
  white-space: nowrap;
}
.header-btn:focus-visible,
.header-btn:active {
  color: var(--white);
  border-color: var(--white);
}

/* .cta-btn:hover {
  box-shadow: 0 6px 18px rgba(255, 255, 255, 0.25);
} */

.custom-toggler {
  width: 28px;
  height: 22px;
  border: none;
  background: none;
  position: relative;
}

.custom-toggler span {
  position: absolute;
  width: 100%;
  height: 2px;
  background: white;
  left: 0;
  transition: 0.3s;
}

.custom-toggler span:nth-child(1) {
  top: 0;
}
.custom-toggler span:nth-child(2) {
  top: 10px;
}
.custom-toggler span:nth-child(3) {
  bottom: 0;
}

/* ===== Overlay ===== */
.menu-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  z-index: 1000;
}

.menu-overlay.active {
  opacity: 1;
  visibility: visible;
}

.side-menu {
  overflow: scroll;
  position: fixed;
  top: 0;
  right: -360px;
  width: 360px;
  max-width: 100%;
  height: 100vh;
  background: var(--white);
  transition: 0.35s ease;
  z-index: 1001;
  padding: 70px 24px 24px;
  display: flex;
  flex-direction: column;
  box-shadow: -5px 0 25px rgba(0, 0, 0, 0.15);
}

.side-menu.active {
  right: 0;
}

.side-close {
  position: absolute;
  top: 18px;
  right: 22px;
  font-size: 32px;
  color: #666;
  cursor: pointer;
}

.side-close:hover {
  color: black;
}

.side-accordion .accordion-item {
  border: none;
  border-bottom: 1px solid #ddd;
  background: transparent;
}

.side-accordion .accordion-button {
  background: transparent;
  color: var(--text);
  font-size: 16px;
  padding: 14px 0;
  box-shadow: none;
}

.side-accordion .accordion-button:not(.collapsed) {
  color: var(--primary);
}

.side-accordion .accordion-body {
  padding: 0 0 12px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.side-accordion a {
  text-decoration: none;
  color: var(--text);
  font-size: 16px;
}

.side-accordion a:hover {
  color: var(--primary);
}

.side-link {
  display: block;
  padding: 14px 0;
  color: var(--side-text);
  text-decoration: none;
  border-bottom: 1px solid #ddd;
}

.side-link:hover {
  color: var(--primary);
}

.mobile-cta {
  margin-top: 20px;
}

.mobile-cta .cta-mobile-btn {
  background: transparent;
  border: 1px solid var(--primary);
  color: var(--primary);
  border-radius: 999px;
  padding: 12px;
  font-size: 15px;
  width: 100%;
  transition: 0.3s;
}

.mobile-cta .cta-mobile-btn:hover {
  background: var(--primary);
  color: white;
}

.side-footer {
  margin-top: auto;
  padding-top: 20px;
}

.signin-btn {
  background: var(--primary);
  border: none;
  color: white;
  border-radius: 999px;
  padding: 12px;
  width: 100%;
  font-size: 15px;
}
/* .header-btns {
  border: 1px solid var(--white);
  border-radius: 5px;
  color: var(--white);
}
.header-btns:hover {
  background-color: var(--white);
  color: var(--black);
} */

/* cart */
.cart-section {
  padding: 20px;
  position: fixed;
  top: 0;
  right: -100%;
  background-color: var(--white);
  width: 100%;
  max-width: 436px;
  height: 100vh;
  z-index: 9;
  transition: all 0.8s ease;
}
.cart-content {
  display: flex;
  align-items: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  padding: 12px;
  gap: 10px;
}
.cart-content h6 {
  font-size: 16px;
  color: var(--text);
  font-family: var(--font-inter-semibold);
  margin-bottom: 10px;
}
.cart-content p {
  font-size: 16px;
  color: var(--secendory);
  margin-bottom: 10px;
}
.cart-price-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cart-section h5 {
  font-family: var(--font-inter-bold);
  color: var(--primary);
  font-size: 16px;
}
.cart-price-btn button {
  border: none;
  background-color: transparent;
}
.cart-img {
  width: 100%;
  max-width: 100px;
  height: 75px;
  /* border-radius: 10px; */
}
.cart-detail {
  width: 100%;
}
.cart-img img {
  object-fit: cover;
  border-radius: 10px;
}
.cart-heading h3 {
  font-size: 18px;
  color: var(--primary);
  font-family: var(--font-inter-semibold);
}
.cart-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
}
.cart-heading button {
  border: none;
  background-color: transparent;
}
.cart-items {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  margin: 20px 0;
  height: 100%;
  max-height: calc(100dvh - 324px);
  overflow: auto;
}
.total-count {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}
.total-count p {
  font-size: 20px;
  color: var(--text);
  font-family: var(--font-inter-semibold);
}
.cart-total {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-top: 1px solid var(--icon);
}
.cart-open {
  border: none;
  background-color: transparent;
}
.show_popup {
  right: 0px;
  visibility: visible;
  transition: all 0.8s ease;
}
.cart-count {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: var(--primary);
  color: var(--white);
  position: absolute;
  right: -9px;
  top: -5px;
  font-size: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cart-main {
  position: relative;
}
.cart-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  z-index: 9;
}

.cart-overlay.active {
  opacity: 1;
  visibility: visible;
}
.close-cart-btn i {
  color: var(--black) !important;
}

.site-header .profile .dropdown-toggle::after {
  display: none;
}
.site-header .profile .dropdown-item {
  padding: 8px 0px;
  display: flex;
  align-items: center;
  justify-content: start;
  column-gap: 10px;
}
.site-header .wishlist {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.site-header .wishlist-count {
  height: 20px;
  min-width: 20px;
  border-radius: 5px;
  background-color: var(--secendory);
  color: var(--white);
  font-size: 11px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}


@media only screen and (max-width: 1399px) {
  .menu_content {
    gap: 18px;
  }
  .main-menu {
    gap: 10px;
  }
}
@media only screen and (max-width: 1199px) {
}
@media only screen and (max-width: 991px) {
  .profile.hover-dropdown:hover .dropdown-menu {
    display: block !important;
  }
  .profile.hover-dropdown .dropdown-menu {
    display: none;
  }
  .main-menu {
    display: none;
  }
  .cart-section {
    max-width: 360px;
  }
}
@media only screen and (max-width: 767px) {
}
@media only screen and (max-width: 575px) {
  .icon-btn {
    display: none;
  }
  .cart,
  .profile-btn {
    display: block;
  }
  .cart-content p {
    font-size: 14px;
  }
  .cart-content h6 {
    margin-bottom: 1px;
  }
  .cart-section {
    max-width: 320px;
  }
}
@media only screen and (max-width: 424px) {
  .menu_content {
    gap: 9px;
  }
}
