* {
  margin: 0;
  padding: 0;
}
.login-overlay::after {
  content: "";
  position: absolute;
  background-color: var(--black);
  width: 100%;
  height: 100%;
  inset: 0;
  opacity: 50%;
  z-index: 0;
}
.auth-wrapper {
  min-height: 100vh;
  width: 100%;
  /* background: url(../img/banner.jpg) 50% / cover no-repeat; */
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;
}
.card-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 1;
  width: 100%;
}

.brand span {
  font-size: 20px;
  font-family: var(--font-inter-bold);
  color: var(--white);
}
.brand {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 24px;
}

.brand i,
.auth-card i {
  color: var(--primary);
  font-size: 32px;
}

.auth-card > i {
  font-size: 42px;
}
.auth-card {
  width: 100%;
  max-width: 390px;
  background: var(--search_Bg);
  padding: 32px;
  border-radius: 14px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.auth-icon {
  font-size: 36px;
  color: var(--primary);
  margin-bottom: 8px;
}
.auth-card h4 {
  font-family: var(--font-inter-semibold);
  color: var(--white);
  font-size: 24px;
  margin-top: 4px;
}
.auth-card .text-muted {
  font-size: 14px;
  margin-top: 4px;
  color: var(--white) !important;
}

/* Tabs */
.auth-tabs {
  display: flex;
  background: var(--tabBgcolor);
  border-radius: 10px;
  margin-bottom: 24px;
}

.tab-btn {
  flex: 1;
  padding: 10px;
  border: none;
  background: transparent;
  font-weight: 500;
  cursor: pointer;
  border-radius: 8px;
  transition: 0.3s ease;
  color: var(--second-text);
  font-family: var(--font-inter-medium);
}

.tab-btn.active {
  background: var(--white);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  color: var(--text);
}

/* Forms */
.auth-form {
  display: none;
  animation: fadeSlide 0.4s ease;
}

.auth-form.active {
  display: block;
}

label {
  font-size: 14px;
  font-family: var(--font-inter-medium);
  color: var(--white);
  margin-bottom: 8px;
  display: block;
}

#login .form-control,
#signup .form-control {
  margin-bottom: 0px;
  height: 44px;
  border-radius: 10px !important;
}
#login .form-control:focus,
#signup .form-control:focus {
  box-shadow: none !important;
  border: 1px solid #dee2e6 !important;
}

#login .text-danger,
#signup .text-danger {
  display: block !important;
  min-height: 17px;
  margin-top: 5px !important;
}

.form-control.is-invalid,
.was-validated .form-control:invalid {
  background-image: none !important;
}

/* Password */
.password-field {
  position: relative;
}

.password-field i {
  font-size: 16px;
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: var(--second-text);
}
#login .btn-orange,
#signup .btn-orange {
  width: 100%;
}
input[type="password"]{
  padding-right: 50px;
}

/* Forgot */
.forgot {
  display: block;
  text-align: center;
  margin-top: 14px;
  font-size: 14px;
  color: var(--white);
  text-decoration: none;
  transition: all 0.3s ease;
}
.forgot:hover {
  color: var(--primary);
}

.back-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  color: var(--white);
  font-size: 14px;
  text-decoration: none;
  margin-top: 20px;
  font-family: var(--font-inter-semibold);
  transition: all 0.3s ease;
  padding: 5px;
}

.back-link:hover {
  background-color: var(--btn-hover);
  border-radius: 10px;
}
.back-link > i {
  margin-top: 2px;
  font-size: 20px;
  color: var(--white);
}

@keyframes fadeSlide {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media only screen and (max-width: 1399px) {
}
@media only screen and (max-width: 1199px) {
  .brand i {
    font-size: 26px !important;
  }
  .auth-card > i {
    font-size: 30px !important;
  }
  .password-field i {
    font-size: 16px !important;
  }
}
@media only screen and (max-width: 991px) {
  .back-link > i {
    font-size: 20px !important;
  }
  .form-control {
    font-size: 14px !important;
  }
}
@media only screen and (max-width: 767px) {
}
@media only screen and (max-width: 575px) {
  .auth-wrapper {
    padding: 0 12px;
  }
  .auth-card {
    /* background-color: transparent !important; */
    box-shadow: none !important;
    padding: 16px !important;
    max-width: 100%;
  }
  #login .form-control,
  #signup .form-control {
    border-radius: 5px !important;
  }
  .auth-btn {
    border-radius: 6px !important;
    padding: 9px !important;
  }
}
@media only screen and (max-width: 424px) {
  .auth-card {
    padding: 10px 10px 12px !important;
  }
  .brand span {
    font-size: 18px !important;
  }
  .auth-card h4 {
    font-size: 22px !important;
  }
  .brand {
    margin-bottom: 6px !important;
  }
}
