.privacy-content h1,
.privacy-content h2,
.privacy-content h3,
.privacy-content h4 {
  margin-top: 20px;
  margin-bottom: 10px;
  color: rgb(0, 0, 0);
}

.privacy-content p {
  margin-bottom: 12px;
  line-height: 1.6;
}

.privacy-content ul {
  margin-bottom: 15px;
  padding-left: 20px;
  padding-top: 10px;
}
.privacy-content li {
  /* margin-bottom: 15px;
    padding-left: 20px; */
  padding-top: 10px;
  font-size: 18px;
  color: var(--secendory);
}
.privacy-content p {
  /* margin-bottom: 15px;
    padding-left: 20px; */
  padding-top: 10px;
  font-size: 18px;
  color: var(--secendory);
}
.privacy-content h2 {
  font-size: 32px;
  color: var(--text);
  font-family: var(--font-inter-bold);
}
.privacy-content h3 {
  font-size: 24px;
  color: var(--text);
  font-family: var(--font-inter-semibold);
}

.privacy-wrapper {
  max-width: 1200px;
  margin: auto;
  padding: 20px 10px;
}
